pre {
    padding: 0
}

body {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

code {
    white-space: pre;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.lead {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}



.sidebar-about{
    font-family: "Bookman Old Style";
    font-weight: bolder;
    font-stretch:ultra-expanded ;
    font-variant-caps: small-caps;
}