<div class="sidebar">
	<div class="container sidebar-sticky">
		<div class="sidebar-about">
			<h1 href="{{ "/" | absURL }}">
				<img src="/logo.svg" alt="Logo" title="{{ .Site.Author.name }}" href="{{ "/" | absURL }}">
				<a href="{{ "/" | absURL }}">{{ .Site.Author.name }}</a>
			</h1>
		<!--{{ with .Site.Params.tagline }}<p class="lead">{{ . | markdownify }}</p{{ end }}--->
		</div>
		<ul class="sidebar-nav">
			{{ range .Site.Menus.main }} 
			<li class="sidebar-nav-item">{{ .Pre }}<a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
			{{end}}
		</ul>
		
		<ul class="sidebar-nav">
			<li class="sidebar-nav-item">
			{{ with .Site.Params.github }}<a href="{{ . }}"><i class="icon icon-github-square icon-3x"></i></a>{{ end }}
			{{ with .Site.Params.keybase }}
			<a href="{{ . }}">
			<i class="myfa icon-stack icon-lg">
  				<i class=""></i>
				<i>
					<img src=/keybase.svg style="height:1.75em;">
			</i>
			</i>
			</a>
			</i>{{ end }}
			{{ with .Site.Params.bitbucket }}<a href="{{ . }}"><i class="fa fa-bitbucket-square fa-3x"></i></a>{{ end }} 
			{{ with .Site.Params.stackOverflow }}<a href="{{ . }}"><i class="fa fa-stack-overflow fa-3x"></i></a>{{ end }} 
			{{ with .Site.Params.linkedin }}<a href="{{ . }}"><i class="fa fa-linkedin-square fa-3x"></i></a>{{ end }} 
			{{ with .Site.Params.googleplus }}<a href="{{ . }}"><i class="fa fa-google-plus-square fa-3x"></i></a>{{ end }} 
			{{ with .Site.Params.facebook }}<a href="{{ . }}"><i class="fa fa-facebook-square fa-3x"></i></a>{{ end }} 
			{{ with .Site.Params.twitter }}<a href="{{ . }}"><i class="fa fa-twitter-square fa-3x"></i></a>{{ end }} 
			{{ with .Site.Params.youtube }}<a href="{{ . }}"><i class="fa fa-youtube-square fa-3x"></i></a>{{ end }}
			{{ if .Site.Params.rss }}<a href="{{ .RSSLink }}" type="application/rss+xml"><i class="icon icon-rss-square icon-3x"></i></li></a>{{ end }}			</li>
		</ul>
		{{ if isset .Site.Params "flattr" }}
		<p><script id='flattr'>
		(function(c){
			var a=document.getElementById(c);
			var b=document.createElement("iframe");
			b.src='//api.flattr.com/button/view/?uid={{ .Site.Params.flattr }}&button=compact&url={{ "/" | absURL }}&title={{ .Site.Title }}';
			b.title="Flattr";
			b.height=20;
			b.width=110;
			b.style.borderWidth=0;
			a.parentNode.insertBefore(b,a)
			})("flattr");
		</script></p>
		{{ end }}
		</div>
	</div>
